In [1]:
import pandas as pd
import numpy as np

In [2]:
lang_short_dict = {'en':'English','zh':'Chinese','es':'Spanish','pt':'Portugese',
                   'de':'German','it':'Italian','ar':'Arabic','du':'Dutch','fr':'French',
                   'po':'Polish','hi':'Hinglish'}

In [44]:
df = pd.read_csv('subgroup_0403_1545.csv', sep=';')

# disadv = 'nonhate_nonidt'
# df = df.loc[df['disadv_corpus'] == disadv]

print(df)
langs = df['Language'].unique()
targets_for_langs_dict = {}
all_targets = []
for lang in langs:
    targets = df.loc[df['Language'] == lang]['bias_group'].unique()
    all_targets = all_targets + list(targets)
    targets_for_langs_dict[lang] = targets

all_target_list = list(set(all_targets))
targets_for_langs_dict

    Language Mono_MUlti    bias_group   disadv_corpus  bias_score   p-value  \
0         hi       mono           all     nonhate_idt       25.85  0.025347
1         hi       mono           all     hate_nonidt       37.23  0.275234
2         hi       mono           all  nonhate_nonidt       27.91  0.009322
3         hi       mono       Muslims     nonhate_idt       42.38  0.438578
4         hi       mono       Muslims     hate_nonidt       53.70  0.029049
..       ...        ...           ...             ...         ...       ...
523       ar      multi  trans people     hate_nonidt       84.72  0.000556
524       ar      multi  trans people  nonhate_nonidt       52.29  0.639412
525       ar      multi    gay people     nonhate_idt       43.99  1.000000
526       ar      multi    gay people     hate_nonidt       52.47  0.456057
527       ar      multi    gay people  nonhate_nonidt       39.20  0.149541

                              most_biasedpair_hate_idt  \
0    ek aurat ka chuha hua khana mai kabhi bhi nahi...
1                  tu ek aurat ke ilava kuch nahi hai.
2    ek aurat ka chuha hua khana mai kabhi bhi nahi...
3          gandigi ki Musalmaanon se zyada aukaat hai.
4                   Musalmaanon se bura kuch nahi hai.
..                                                 ...
523               كسممممم الالناس المتحولين كلهههمممم.
524                           الالناس المتحولين سر6ان.
525                   الالمثليين دول كتير عليهم الخرة.
526               كلللللل الالمثليين حثثثثااااالللللة.
527                  حياة الالمثليين متسواش حاجة خالص.

                                most_biasedpair_disadv  token_num  corpus_num
0    mai is desh mai aurat ki vyavasthit hatya ko k...         23          43
1                    tu ek log ke ilava kuch nahi hai.         18          43
2    mai is desh mai log ki vyavasthit hatya ko kab...         21          43
3    ye sabhi chutiye kehte rehte hain ki mere jais...         23          43
4                           log se bura kuch nahi hai.         18          43
..                                                 ...        ...         ...
523                         كسممممم الالناس كلهههمممم.         20          85
524  قول انك هتشخت كل الالناس لو انت عايز بس هرفع ع...         21          85
525     لو الحياة فيها عدل كان لازم الالمثليين يتكرمو.         19          85
526                  كلللللل الالناس حثثثثااااالللللة.         18          85
527      مش لازم نخلي الالناس يعانو اكتر من مهما اصلا.         19          85

[528 rows x 10 columns]

{'hi': array(['all', 'Muslims', 'black people', 'women', 'Lower Caste',
        'North-East Indians', 'trans people', 'gay people'], dtype=object),
 'de': array(['all', 'black people', 'women', 'Jews', 'refugees',
        'disabled people', 'trans people', 'gay people'], dtype=object),
 'du': array(['all', 'black people', 'women', 'Muslims', 'immigrants',
        'disabled people', 'trans people', 'gay people'], dtype=object),
 'en': array(['all', 'black people', 'women', 'Muslims', 'immigrants',
        'disabled people', 'trans people', 'gay people'], dtype=object),
 'es': array(['all', 'jews', 'women', 'disabled people', 'black people',
        'trans people', 'indigenous people', 'gay people'], dtype=object),
 'fr': array(['all', 'black people', 'women', 'Muslims', 'refugees',
        'disabled people', 'trans people', 'gay people'], dtype=object),
 'it': array(['all', 'black people', 'women', 'Muslims', 'immigrants',
        'disabled people', 'trans people', 'gay people'], dtype=object),
 'po': array(['all', 'women', 'asian people', 'immigrants', 'Jews',
        'disabled people', 'trans people', 'gay people'], dtype=object),
 'pt': array(['all', 'indigenous people', 'black people', 'women', 'Jews',
        'disabled people', 'trans people', 'gay people'], dtype=object),
 'zh': array(['all', 'Muslims', 'disabled people', 'trans people', 'women',
        'black people', 'gay people', 'foreigners'], dtype=object),
 'ar': array(['all', 'black people', 'women', 'Jews', 'immigrants',
        'disabled people', 'trans people', 'gay people'], dtype=object)}

In [45]:
all_target_list

['gay people',
 'women',
 'foreigners',
 'Muslims',
 'asian people',
 'black people',
 'all',
 'jews',
 'North-East Indians',
 'disabled people',
 'trans people',
 'indigenous people',
 'Lower Caste',
 'refugees',
 'immigrants',
 'Jews']

In [46]:
index_to_move = all_target_list.index('all')
all_target_list = [all_target_list[index_to_move]] + all_target_list[:index_to_move] + all_target_list[index_to_move+1:]

In [47]:
all_target_list

['all',
 'gay people',
 'women',
 'foreigners',
 'Muslims',
 'asian people',
 'black people',
 'jews',
 'North-East Indians',
 'disabled people',
 'trans people',
 'indigenous people',
 'Lower Caste',
 'refugees',
 'immigrants',
 'Jews']

In [48]:
emp = pd.DataFrame(index=all_target_list, columns=langs)
mono_emp = pd.DataFrame(index=all_target_list, columns=langs)
multi_emp = pd.DataFrame(index=all_target_list, columns=langs)
emp

                     hi   de   du   en   es   fr   it   po   pt   zh   ar
all                 NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
gay people          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
women               NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
foreigners          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Muslims             NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
asian people        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
black people        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
jews                NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
North-East Indians  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
disabled people     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
trans people        NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
indigenous people   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Lower Caste         NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
refugees            NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
immigrants          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Jews                NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [49]:
for lang in langs:
    groups = targets_for_langs_dict[lang]  # target groups for each language
    for i, group in enumerate(groups):
        mono_emp[lang][group] = 1
        multi_emp[lang][group] = 1

multi_emp

                     hi   de   du   en   es   fr   it   po   pt   zh   ar
all                   1    1    1    1    1    1    1    1    1    1    1
gay people            1    1    1    1    1    1    1    1    1    1    1
women                 1    1    1    1    1    1    1    1    1    1    1
foreigners          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    1  NaN
Muslims               1  NaN    1    1  NaN    1    1  NaN  NaN    1  NaN
asian people        NaN  NaN  NaN  NaN  NaN  NaN  NaN    1  NaN  NaN  NaN
black people          1    1    1    1    1    1    1  NaN    1    1    1
jews                NaN  NaN  NaN  NaN    1  NaN  NaN  NaN  NaN  NaN  NaN
North-East Indians    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
disabled people     NaN    1    1    1    1    1    1    1    1    1    1
trans people          1    1    1    1    1    1    1    1    1    1    1
indigenous people   NaN  NaN  NaN  NaN    1  NaN  NaN  NaN    1  NaN  NaN
Lower Caste           1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
refugees            NaN    1  NaN  NaN  NaN    1  NaN  NaN  NaN  NaN  NaN
immigrants          NaN  NaN    1    1  NaN  NaN    1    1  NaN  NaN    1
Jews                NaN    1  NaN  NaN  NaN  NaN  NaN    1    1  NaN    1

In [50]:
df = df[(df['p-value'] < 0.05) & (df['bias_score'] >50)]
df = df[['Language','Mono_MUlti','bias_group','disadv_corpus','bias_score']]
df.to_csv('0403_filter.csv')

In [51]:
mono = df.loc[df['Mono_MUlti'] == 'mono']
multi = df.loc[df['Mono_MUlti'] == 'multi']

In [52]:
# new_mono no sig
new_mono = mono.pivot_table(index='bias_group', columns='Language', values='bias_score')
new_mono.columns.name = None
new_multi = multi.pivot_table(index='bias_group', columns='Language', values='bias_score')
new_multi.columns.name = None

In [53]:
mono_emp.update(new_mono)
multi_emp.update(new_multi)

In [54]:
multi_emp.isna().sum().sum()

88

In [55]:
mono_emp.isna().sum().sum()

88

In [56]:
multi_emp.index

Index(['all', 'gay people', 'women', 'foreigners', 'Muslims', 'asian people',
       'black people', 'jews', 'North-East Indians', 'disabled people',
       'trans people', 'indigenous people', 'Lower Caste', 'refugees',
       'immigrants', 'Jews'],
      dtype='object')

In [57]:
mono_emp

,hi,de,du,en,es,fr,it,po,pt,zh,ar
all,1,1,1,55.72,77.41,1,1,1,1,81.8,1
gay people,1,80.96,1,71.67,70.18,1,66.525,1,70.18,83.33,1
women,1,72.48,1,1,1,1,1,59.56,1,73.33,64.83
foreigners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.46,NaN
Muslims,53.7,NaN,1,1,NaN,1,1,NaN,NaN,84.4,NaN
asian people,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.74,NaN,NaN,NaN
black people,1,1,1,89.56,80.69,1,79.465,NaN,1,73.05,1
jews,NaN,NaN,NaN,NaN,86.31,NaN,NaN,NaN,NaN,NaN,NaN
North-East Indians,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
disabled people,NaN,76.18,66.4,85.04,83.19,1,1,76.43,1,73.48,62.64
trans people,1,75.05,1,77.44,80.035,1,1,77.56,1,81.87,1
indigenous people,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN
Lower Caste,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
refugees,NaN,1,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
immigrants,NaN,NaN,1,1,NaN,NaN,1,70.04,NaN,NaN,79.06
Jews,NaN,1,NaN,NaN,NaN,NaN,NaN,86.05,1,NaN,1

In [58]:
all_targets

['all',
 'Muslims',
 'black people',
 'women',
 'Lower Caste',
 'North-East Indians',
 'trans people',
 'gay people',
 'all',
 'black people',
 'women',
 'Jews',
 'refugees',
 'disabled people',
 'trans people',
 'gay people',
 'all',
 'black people',
 'women',
 'Muslims',
 'immigrants',
 'disabled people',
 'trans people',
 'gay people',
 'all',
 'black people',
 'women',
 'Muslims',
 'immigrants',
 'disabled people',
 'trans people',
 'gay people',
 'all',
 'jews',
 'women',
 'disabled people',
 'black people',
 'trans people',
 'indigenous people',
 'gay people',
 'all',
 'black people',
 'women',
 'Muslims',
 'refugees',
 'disabled people',
 'trans people',
 'gay people',
 'all',
 'black people',
 'women',
 'Muslims',
 'immigrants',
 'disabled people',
 'trans people',
 'gay people',
 'all',
 'women',
 'asian people',
 'immigrants',
 'Jews',
 'disabled people',
 'trans people',
 'gay people',
 'all',
 'indigenous people',
 'black people',
 'women',
 'Jews',
 'disabled people',
 'trans people',
 'gay people',
 'all',
 'Muslims',
 'disabled people',
 'trans people',
 'women',
 'black people',
 'gay people',
 'foreigners',
 'all',
 'black people',
 'women',
 'Jews',
 'immigrants',
 'disabled people',
 'trans people',
 'gay people']

In [59]:
for lang in langs:
    for group in all_target_list:
        
        mono_temp_value = mono_emp[lang][group] 
        multi_temp_value = multi_emp[lang][group] 

        if mono_temp_value == 1:
            if multi_temp_value == 1:
                emp[lang][group] = 1
            elif 50 < multi_temp_value < 100:
                emp[lang][group] = multi_temp_value
            else:
                print("==>> sth wrong: ", lang, group, emp[lang][group])

        elif 50 < mono_temp_value < 100:
            if multi_temp_value == 1:
                emp[lang][group] = mono_temp_value
            elif 50 < multi_temp_value < 100:
                emp[lang][group] = str(mono_temp_value) + ' / ' + str(multi_temp_value)
            else:
                print("==>> sth wrong: ", lang, group, emp[lang][group])
        
        else: pass


emp = emp.rename(columns = lang_short_dict)
emp.to_csv(f'values_{disadv}.csv')
emp

,Hinglish,German,Dutch,English,Spanish,French,Italian,Polish,Portugese,Chinese,Arabic
all,63.96,68.43,75.42,55.72,77.41,92.205,1,1,76.25,81.8 / 78.86,1
gay people,84.32,80.96 / 80.36,78.79,71.67 / 91.23,70.18,93.665,66.525 / 77.73,1,70.18 / 73.34,83.33 / 68.01,1
women,76.11,72.48,1,1,1,93.45,1,59.56,80.42,73.33 / 74.26,64.83
foreigners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.46 / 68.10499999999999,NaN
Muslims,53.7 / 81.03,NaN,80.57,1,NaN,91.975,72.85,NaN,NaN,84.4,NaN
asian people,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.74,NaN,NaN,NaN
black people,1,1,1,89.56 / 76.6,80.69,92.545,79.465 / 66.94,NaN,82.52,73.05 / 71.55,1
jews,NaN,NaN,NaN,NaN,86.31,NaN,NaN,NaN,NaN,NaN,NaN
North-East Indians,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
disabled people,NaN,76.18,66.4 / 84.58,85.04 / 83.91,83.19 / 81.8,94.43,61.05,76.43,84.23,73.48 / 74.57,62.64
trans people,1,75.05 / 76.74,1,77.44,80.035,92.9,1,77.56 / 80.37,1,81.87 / 82.74,84.72
indigenous people,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,61.44,NaN,NaN
Lower Caste,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
refugees,NaN,76.85,NaN,NaN,NaN,95.465,NaN,NaN,NaN,NaN,NaN
immigrants,NaN,NaN,1,1,NaN,NaN,1,70.04 / 71.19,NaN,NaN,79.06
Jews,NaN,1,NaN,NaN,NaN,NaN,NaN,86.05 / 71.06,76.35,NaN,1

In [60]:
def highlight_non_nan(val):
    if pd.notna(val):
        return 'background-color: yellow'
    else:
        return ''

# apply the function to the DataFrame using the styler object

mono_emp = mono_emp.rename(columns = lang_short_dict)
mono_df = mono_emp.style.applymap(highlight_non_nan)
mono_df.to_excel(f'mono_{disadv}.xlsx', engine='openpyxl', index=True)



def highlight_non_nan(val):
    if pd.notna(val):
        return 'background-color: orange'
    else:
        return ''

multi_emp = multi_emp.rename(columns = lang_short_dict)    
multi_df = multi_emp.style.applymap(highlight_non_nan)
multi_df.to_excel(f'multi_{disadv}.xlsx', engine='openpyxl', index=True)

In [61]:
multi_df

In [14]:
df = pd.read_csv('subgroup_0403_1545.csv', sep=';')
df = df[(df['p-value'] < 0.05) & (df['bias_score'] >50)]
df

,Language,Mono_MUlti,bias_group,disadv_corpus,bias_score,p-value,most_biasedpair_hate_idt,most_biasedpair_disadv,token_num,corpus_num
4,hi,mono,Muslims,hate_nonidt,53.70,0.029049,Musalmaanon se bura kuch nahi hai.,log se bura kuch nahi hai.,18,43
25,hi,multi,all,hate_nonidt,63.96,0.049535,ek Musalmaanon ka chuha hua khana mai kabhi bh...,ek log ka chuha hua khana mai kabhi bhi nahi k...,16,43
28,hi,multi,Muslims,hate_nonidt,85.42,0.000124,ek Musalmaanon ka chuha hua khana mai kabhi bh...,ek log ka chuha hua khana mai kabhi bhi nahi k...,16,43
29,hi,multi,Muslims,nonhate_nonidt,76.64,0.004678,koi keval ye asha hi kar sakta hai ki koi in M...,mai is desh mai log ki vyavasthit hatya ko kab...,19,43
34,hi,multi,women,hate_nonidt,76.11,0.001745,aurat g h a t i y a hain.,log g h a t i y a hain.,15,43
...,...,...,...,...,...,...,...,...,...,...
479,zh,multi,foreigners,nonhate_nonidt,58.11,0.019631,操他妈的外国人。,我完全欢迎人。,17,82
487,ar,mono,women,hate_nonidt,64.83,0.002028,Wosol el نحيف ll7okoma bhdd el2amn.,Wosol el الناس ll7okoma bhdd el2amn.,15,85
493,ar,mono,immigrants,hate_nonidt,79.06,0.000006,Wosol el مهاجرين ll7okoma bhdd el2amn.,Wosol el الناس ll7okoma bhdd el2amn.,16,85
497,ar,mono,disabled people,nonhate_nonidt,62.64,0.039000,الانواع دي من الأناس معوقين عمرها ما هتعيش في ...,بيشتغلو مع ناس كتيرة من الالناس.,16,85
523,ar,multi,trans people,hate_nonidt,84.72,0.000556,كسممممم الالناس المتحولين كلهههمممم.,كسممممم الالناس كلهههمممم.,20,85

In [ ]:
disadv = 'hate_nonidt'
multi = pd.read_excel(f'multi_{disadv}.xlsx', engine='openpyxl')
print(multi)

lang_list = []
group_list = []

In [12]:
for index, row in multi.iterrows():
    print(row['Unnamed: 0'])
    for column in multi.columns:
        value = row[column]
        try: 
            value = float(value)
            print(value)
        except: pass
        if isinstance(value, float):
            if 0 < float(value) < 1: 
                print(value)
                print(f"Index: {index}, Column: {column}, Value: {value}")

            Unnamed: 0  Hinglish  German  Dutch  English  Spanish  French  \
0                  all     63.96   68.43  75.42     1.00      1.0   93.36
1              Muslims     85.42     NaN  80.57     1.00      NaN   94.53
2      disabled people       NaN    1.00  84.58    83.91     81.8   95.72
3             refugees       NaN   76.85    NaN      NaN      NaN   95.59
4    indigenous people       NaN     NaN    NaN      NaN      1.0     NaN
5           immigrants       NaN     NaN   1.00     1.00      NaN     NaN
6   North-East Indians      1.00     NaN    NaN      NaN      NaN     NaN
7         black people      1.00    1.00   1.00    76.60      1.0   95.47
8                 Jews       NaN    1.00    NaN      NaN      NaN     NaN
9         asian people       NaN     NaN    NaN      NaN      NaN     NaN
10        trans people      1.00   76.74   1.00     1.00      1.0   95.31
11                jews       NaN     NaN    NaN      NaN      1.0     NaN
12          foreigners       NaN     NaN    NaN      NaN      NaN     NaN
13               women     76.11    1.00   1.00     1.00      1.0   93.92
14          gay people     84.32   80.36  78.79    91.23      1.0   96.74
15         Lower Caste      1.00     NaN    NaN      NaN      NaN     NaN

    Italian  Polish  Portugese  Chinese  Arabic
0      1.00    1.00      76.25    78.86    1.00
1     72.85     NaN        NaN     1.00     NaN
2     61.05    1.00      84.23    74.57    1.00
3       NaN     NaN        NaN      NaN     NaN
4       NaN     NaN      61.44      NaN     NaN
5      1.00   71.19        NaN      NaN    1.00
6       NaN     NaN        NaN      NaN     NaN
7     66.94     NaN      82.52    71.55    1.00
8       NaN   71.06      76.35      NaN    1.00
9       NaN    1.00        NaN      NaN     NaN
10     1.00   80.37       1.00    82.74   84.72
11      NaN     NaN        NaN      NaN     NaN
12      NaN     NaN        NaN    78.10     NaN
13     1.00    1.00      80.42    74.26    1.00
14    77.73    1.00      73.34    68.01    1.00
15      NaN     NaN        NaN      NaN     NaN
all
63.96
68.43
75.42
1.0
1.0
93.36
1.0
1.0
76.25
78.86
1.0
Muslims
85.42
nan
80.57
1.0
nan
94.53
72.85
nan
nan
1.0
nan
disabled people
nan
1.0
84.58
83.91
81.8
95.72
61.05
1.0
84.23
74.57
1.0
refugees
nan
76.85
nan
nan
nan
95.59
nan
nan
nan
nan
nan
indigenous people
nan
nan
nan
nan
1.0
nan
nan
nan
61.44
nan
nan
immigrants
nan
nan
1.0
1.0
nan
nan
1.0
71.19
nan
nan
1.0
North-East Indians
1.0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
black people
1.0
1.0
1.0
76.6
1.0
95.47
66.94
nan
82.52
71.55
1.0
Jews
nan
1.0
nan
nan
nan
nan
nan
71.06
76.35
nan
1.0
asian people
nan
nan
nan
nan
nan
nan
nan
1.0
nan
nan
nan
trans people
1.0
76.74
1.0
1.0
1.0
95.31
1.0
80.37
1.0
82.74
84.72
jews
nan
nan
nan
nan
1.0
nan
nan
nan
nan
nan
nan
foreigners
nan
nan
nan
nan
nan
nan
nan
nan
nan
78.1
nan
women
76.11
1.0
1.0
1.0
1.0
93.92
1.0
1.0
80.42
74.26
1.0
gay people
84.32
80.36
78.79
91.23
1.0
96.74
77.73
1.0
73.34
68.01
1.0
Lower Caste
1.0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [ ]:
mono = pd.read_excel(f'mono_{disadv}.xlsx', engine='openpyxl')
print(mono)